*.o
.*
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
!drivers/mfd/cg2900/modules.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
scripts/*
arch/arm/boot/*
.DS_Store
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers
/zImage
!.gitignore
!.mailmap
include/config
include/linux/version.h
include/generated
arch/*/include/generated
zImage
include/asm
include/asm-arm
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h
include/linux/bounds.h
include/generated
patches-*
patches
series
cscope.*
ncscope.*
GPATH
GRTAGS
GSYMS
GTAGS
*.orig
*~
\#*#
_t32
_tool
Module.symvers